.main-third {
  width: 650px;
}
.Main,
.Section-Main {
  height: 93%;
}
.main-section {
  border-right: 0.4px solid grey;
  height: 100%;
  overflow-y: scroll;
}
.main-section::-webkit-scrollbar {
  display: none;
}
.sidebar-main {
  border-right: 0.4px solid grey;
}
