.App {
  background-color: black;
  color: white;
  height: 100vh;
}
.App-light {
  background-color: white;
  color: black;
  height: 100vh;
}
.lorem-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3772ff;
  height: 7%;
}

.nav-link.active {
  color: #ffffff !important;
  background: none !important;
  /* border: none !important; */
  border-bottom: #3772ff !important;
}
.nav-tabs {
  background: none !important;
}
.nav-link,
.nav-item:hover {
  border: none !important;
  color: #808191 !important;
}
#text {
  font-size: 15px;
}
